[Desktop Entry]
Comment=BlossomUI Light - A modern theme for Plasma with transparency and blur
Comment[en_GB]=BlossomUI Light - A modern theme for Plasma with transparency and blur
Encoding=UTF-8
Name=BlossomUI Light
Name[en_GB]=BlossomUI Light
Type=Service
X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-PluginInfo-Author=Yannik Ain
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Email=hello@blossomos.org
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-PluginInfo-License=GPL-2.0-or-later
X-KDE-PluginInfo-Name=org.blossomos.blossomuilight.desktop
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://blossomos.org
X-Plasma-IconTheme=BlossomUI
X-Plasma-Wallpaper=BlossomRays
X-Plasma-ColorScheme=BlossomUI Light
X-Plasma-LookAndFeelSupports=org.kde.plasma.desktop
