# Build output
build-test/
redhat-linux-build/
release/
local/
flatpak-build-qt5/
flatpak-build-qt6/
.flatpak-builder/
*.tar.gz
.cache

# OS
.DS_Store
Thumbs.db
build/
flatpak/build/
gtk/build/
RPMS/
SRPMS/
node_modules/
*.flatpak
*.rpm
