// General

// Draw toolbar item separators
$BlossomuircToolBarDrawItemSeparator: false;

// Float and sunken effect on checkboxes and radio buttons
// TODO /should be always sunken effect on click

// Increase button height
$BlossomuircButtonHeight: 3;

// Increase button width
$BlossomuircButtonWidth: 1;

// Corner radius
$BlossomuircCornerRadius: 10;

// Menu item height
$BlossomuircMenuItemHeight: 4;

// Tabs

// Tab style
$BlossomuircOldTabbar: false; // Lightly Default
$BlossomuircTabBarAltStyle: false; // Lightly Alternative

// Draw highlight on active tab
$BlossomuircTabDrawHighlight: false;

// Use highlight color as selected tab background
$BlossomuircTabUseHighlightColor: false;

// Tab size
// TODO

// Use brighter close icon
$BlossomuircTabUseBrighterCloseIcon: false;

// Custom tabbar background
$BlossomuircAdjustToDarkThemes: false;
$BlossomuircTabBGColor: rgb(0, 0, 0);

// Animations

// Enable animations
// TODO

// Transient scrollbar
// TODO

// Always show slim
// TODO

// Animation duration
// TODO

// Frames

// Draw rounded frame on rubber band control
// (should always be true tho)

// Draw a thin line to indicate focus in menus and menubars
$BlossomuircMenuItemDrawStrongFocus: true;

// Full outline
$BlossomuircFullOutline: true;

// No outline
$BlossomuircNoOutline: false;

// Scrollbars

// Scrollbar arrows
// TODO

// Transparency

// Context Menu
// TODO

// View
// TODO

// Toolbar
// TODO

// Shadows

// Menu shadow intensity
// TODO

// Draw widget shadow
$BlossomuircWidgetDrawShadow: true;

// Draw shadow under toolbar
$BlossomuircWidgetToolBarShadow: false;

// Windeco

// Window corner radius (doubled into $window_radius; kdecoration CornerRadius default is 14)
$BlossomuircOtherCornerRadius: 7;

// Button size
// TODO

// Round bottom corners
// TODO

// Shadow size
// TODO

// Shadow strength
// TODO
// Shadow color
$BlossomuircShadowColor: rgb(0, 0, 0);
