[AdaptiveTransparency]
enabled=true

[ContrastEffect]
contrast=0.2
enabled=false
intensity=0.4
saturation=1.7

[Desktop Entry]
Comment=BlossomUI Plasma Theme with more margins, blur and rounded corners.
Name=BlossomUI
X-KDE-PluginInfo-Author=Yannik Ain
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Email=yannik@blossomos.org
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv2
X-KDE-PluginInfo-Name=BlossomUI
X-KDE-PluginInfo-Version=1.0.1
X-Plasma-API=5.0
