/**********
 * Frames *
 **********/
frame {
    border {
        border-color: gtkalpha(black, 0.1);
    }

    > label {
        color: gtkalpha($fg_color, 0.5);
    }
}
@if $gtkver!= "3" {
    frame {
        border-radius: $radius;

        > label {
            margin: 4px;
        }
    }
}

actionbar > revealer > box {
    padding: 6px;

    @if $gtkver!= "3" {
        &,
        > box.start,
        > box.end {
            border-spacing: 4px;
        }
    }
}

scrolledwindow {
    // This is used when content is touch-dragged past boundaries.
    // draws a box on top of the content, the size changes programmatically.
    overshoot {
        &.top {
            @include overshoot(top);
        }

        &.bottom {
            @include overshoot(bottom);
        }

        &.left {
            @include overshoot(left);
        }

        &.right {
            @include overshoot(right);
        }
    }

    junction {
        // the small square between two scrollbars
        background-color: transparent;
    }

    &:not(.navigation-sidebar):not(.sidebar) {
        > .view,
        > viewport > .view {
            border: 8px solid $bg_color;
            background-clip: padding-box;
            border-radius: $radius + 8px;
        }
    }
}

window.popup scrolledwindow:not(.navigation-sidebar):not(.sidebar) > .view,
window.popup scrolledwindow:not(.navigation-sidebar):not(.sidebar) > viewport > .view,
popover scrolledwindow:not(.navigation-sidebar):not(.sidebar) > .view,
popover scrolledwindow:not(.navigation-sidebar):not(.sidebar) > viewport > .view,
menu scrolledwindow:not(.navigation-sidebar):not(.sidebar) > .view {
    border: none;
    background-clip: border-box;
    border-radius: $radius;
}

//vbox and hbox separators
separator {
    background: transparentize(white, 0.95);
    min-width: 1px;
    min-height: 1px;

    &.spacer {
        background: none;

        &.horizontal {
            min-width: 12px;
        }
        &.vertical {
            min-height: 12px;
        }
    }
}
