/************
 * Tooltips *
 ************/
tooltip {
    &.background {
        // background-color needs to be set this way otherwise it gets drawn twice
        // see https://bugzilla.gnome.org/show_bug.cgi?id=736155 for details.
        color: $tooltip_fg_color;
        background-color: $tooltip_bg_color;
        background-clip: padding-box;
        @if $gtkver!= "3" {
            border: 1px solid $tooltip_borders_color;
        }
    }

    @if $gtkver!= "3" {
        padding: 6px 10px;

        > box {
            border-spacing: 4px;
        }
    }
    border-radius: $radius;
    box-shadow: none; // otherwise it gets inherited by windowframe.csd

    // FIXME: we need a border or tooltips vanish on black background.
    decoration {
        background-color: transparent;
    }

    * {
        // Yeah this is ugly
        background-color: transparent;
        color: $tooltip_fg_color;
    }
}

